<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <header>
        <div class="navegacion-responsive">
    <div class="navegacion">
        <div class="logo">
            <a href="/"><img src="/images/logo-mercado-liebre.svg" alt=""></a>
        </div>
        <div class="busqueda">
            <input type="search" name="" id="" placeholder="Buscar Productos, marcas">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </div>
        <p class="compra"> <i class="fa-solid fa-hand-holding-dollar"></i>compra en cuotas y sin tarjeta de crédito</p>
    </div>
        <nav>
            <ul class="listaSuperior">
                <li>
                    <a href="">Ofertas</a>
                </li>
                <li>
                    <a href="">Tiendas Oficiales</a>
                </li>
                <li>
                    <a href="">Vender</a>
                </li>
                <li>
                    <a href="">Ayuda</a>
                </li>
            </ul>

            <ul class="listaInferior">
                <li>
                    <a href="">Crea tu cuenta <i class="fa-regular fa-id-card"></i></a>
                </li>
                <li>
                    <a href="">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a>
                </li>
                <li>
                    <a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a>
                </li>
            </ul>
        </nav>
        <div class="hamburguesa">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
    <main>
        <form action="/createProduct" method="post" class="create-form">
            <div class="control-formulario">
                <label>
                    Nombre del producto:
                    <input type="text" name="nombre" class="control">
                </label>
            </div>
            <div class="control-formulario">
                <label>
                    precio del producto:
                    <input type="number" name="precio" placeholder="123.56" class="control" class="control">
                </label>
            </div>
            <div class="control-formulario">
                <label>
                    ¿Está en oferta?
                    <input type="radio" name="enOferta" >
                </label>
            </div>
            <div class="control-formulario">
                <label>
                    Categoria:
                    <select name="categoria">
                        <option value="hogar">Hogar</option>
                        <option value="electro">Electro</option>
                        <option value="indumentaria">Indumentaria</option>
                    </select>
                </label>
            </div>
            <div class="control-formulario">
                <label>
                    Ciudad:
                    <select name="categoria">
                        <option value="baires">Buenos Aires</option>
                        <option value="ros">Rosario</option>
                        <option value="mdz">Mendoza</option>
                    </select>
                </label>
            </div>
            <div class="control-formulario">
                <label for="">
                    Descripcion:
                <textarea name="descripcion" class="control"></textarea>
            </label>
            </div>
            <button type="reset" class="boton-formulario">Borrar</button>
            <button type="submit" class="boton-formulario">Guardar</button>
        </form>
    </main>
    <footer>
        <div>
            <article>
                <i class="fa-solid fa-credit-card"></i>
                <h4>Paga con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>
                
            
           <article>
            <i class="fa-solid fa-gift"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
           </article>
            <article>
                <i class="fa-solid fa-user-shield"></i>
                        <h4>Seguridad, de principio a fin</h4>
                        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                            porque estás siempre protegid@.</p>
            </article>
        </div> 
            
            <span>
                        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </span>
                
            
    </footer>
<script src="https://kit.fontawesome.com/ce970c0111.js" crossorigin="anonymous"></script>
</body>
</html>