<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link rel="stylesheet" href="/css/estilos.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
rel="stylesheet" />
<link rel="stylesheet" href="../estilos para mi/">
</head>
<body>
    <header>
        <div class="navegacion-responsive">
    <div class="navegacion">
        <div class="logo">
            <a href="/"><img src="/images/logo-mercado-liebre.svg" alt=""></a>
        </div>
        <div class="busqueda">
            <input type="search" name="" id="" placeholder="Buscar Productos, marcas">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </div>
        <p class="compra"> <i class="fa-solid fa-hand-holding-dollar"></i>compra en cuotas y sin tarjeta de crédito</p>
    </div>
        <nav>
            <ul class="listaSuperior">
                <li>
                    <a href="">Ofertas</a>
                </li>
                <li>
                    <a href="">Tiendas Oficiales</a>
                </li>
                <li>
                    <a href="">Vender</a>
                </li>
                <li>
                    <a href="">Ayuda</a>
                </li>
            </ul>

            <ul class="listaInferior">
                <li>
                    <a href="/register">Crea tu cuenta <i class="fa-regular fa-id-card"></i></a>
                </li>
                <li>
                    <a href="/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a>
                </li>
                <li>
                    <a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a>
                </li>
            </ul>
        </nav>
        <div class="hamburguesa">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
    <main class="home__productos">
        <img src="/images/img-home-banner.jpg" alt="" class="banner">
    <section class="seccion-productos">
        <h4 class="seccion-productos--titulo">Ofertas</h4>
        
        <article class="seccion-productos--tarjeta">
        <img src="/images/img-cafetera-moulinex.jpg" alt="" srcset="">
        <div>
            <i class="fa-solid fa-truck"></i>
            <p class="precio">$6.770</p>
            <p class="porcentaje">40% OFF</p>
            <p class="negrita">Cafetera Moulinex</p>
        </div>
        
    </article>

    <article>
        <img src="/images/img-macbook-pro-2019.jpg" alt="" srcset="">
        <div>
            <i class="fa-solid fa-truck"></i>
            <p class="precio">$230.000</p>
            <p class="porcentaje">20% OFF</p>
            <p class="negrita">MacBook Pro 2019</p>
        </div>
        
    </article>

    <article>
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="" srcset="">
        <div>
            <i class="fa-solid fa-truck"></i>
            <p class="precio">$70.500</p>
            <p class="porcentaje">10% OFF</p>
            <p class="negrita">Samsung Galaxy S10</p>
        </div>
        
        
    </article>

    <article>
        <img src="/images/img-tv-samsung-smart.jpg" alt="" srcset="">
        <div>
            <i class="fa-solid fa-truck"></i>
            <p class="precio">$23.200</p>
            <p class="porcentaje">5% OFF</p>
            <p class="negrita">SmartTV Samsung 43"</p>
        </div>
        
    </article>

    </section>

    <section>
        
        <h4>Ofertas</h4>
        <article>
            <img src="/images/img-cafetera-moulinex.jpg" alt="" srcset="">
            <div>
                <i class="fa-solid fa-truck"></i>
                <p class="precio">$6.770</p>
                <p class="porcentaje">40% OFF</p>
                <p class="negrita">Cafetera Moulinex</p>
            </div>
            
        </article>
    
        <article>
            <img src="/images/img-macbook-pro-2019.jpg" alt="" srcset="">
            <div>
                <i class="fa-solid fa-truck"></i>
                <p class="precio">$230.000</p>
                <p class="porcentaje">20% OFF</p>
                <p class="negrita">MacBook Pro 2019</p>
            </div>
            
        </article>
    
        <article>
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="" srcset="">
            <div>
                <i class="fa-solid fa-truck"></i>
                <p class="precio">$70.500</p>
                <p class="porcentaje">10% OFF</p>
                <p class="negrita">Samsung Galaxy S10</p>
            </div>
            
        </article>
    
        <article>
            <img src="/images/img-tv-samsung-smart.jpg" alt="" srcset="">
            <div>
                <i class="fa-solid fa-truck"></i>
                <p class="precio">$23.200</p>
                <p class="porcentaje">5% OFF</p>
                <p class="negrita">SmartTV Samsung 43"</p>
            </div>
            
        </article>
    </section>
    </main>
    <footer>
        <div>
            <article>
                <i class="fa-solid fa-credit-card"></i>
                <h4>Paga con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>
                
            
           <article>
            <i class="fa-solid fa-gift"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
           </article>
            <article>
                <i class="fa-solid fa-user-shield"></i>
                        <h4>Seguridad, de principio a fin</h4>
                        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                            porque estás siempre protegid@.</p>
            </article>
        </div> 
            
            <span>
                        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </span>
                
            
    </footer>
    <script src="https://kit.fontawesome.com/ce970c0111.js" crossorigin="anonymous"></script>
    <p>
        <div class="bloque">
            
        </div>
    </p>
    
    <!-- <script src="../app.js"></script> -->
</body>
</html>




