/* 
*{
    margin: auto;
    padding: auto;
}

header{
    background-color: yellow;
}

main{
    background-color: rgb(212, 211, 211);
    margin: 0em;
}

main img{
    width: 20em;
    height: 20em;
}

.negrita{
    font-weight: bold;
}

h2{
    text-align: center;
}

.logoBuscador{
    display: flex;
    height: 2em;
    margin: 0em 1em;
    align-items: center;
}

.logo{
    width: 50%;
    height: 2em;
}

.buscador{
    width: 50%;
    height: 2em;
    text-align: center;
    border-radius: 1em;
}

.banner{
    height: 5em;
    object-fit: cover;
}

.cuotas{
    text-align: center;
    margin: 1em;
}

.menuSinHamburguesa{
    display: none;
}

.contenedorHamburguesa{
    text-align: center;
}

.menuHamburguesa{
    color: rgb(255, 255, 255);
    font-size: 2em;
    background-color: blue;
    padding: 0.3em;
    margin: 1em;
    border-radius: 15px;
}

.tarjeta{
    background-color: white;
    border: 3px solid red;
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');


:root {
    /* VARIABLES DE COLORES */
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Gris-oscuro: #666;
    --Gris-claro: #ebebeb;
    --Verde: #39b54a;
    /*VARIABLE FUENTES*/
    --roboto: 'Roboto', sans-serif;
    /*TAMAÑOS TIPOGRAFICOS*/
    --parrafos: 12px;
    --titulos: 24px;
    --precio: 18px;
    --descuento: 16px;
    --descripciones:16px;
}


/* MI FORMA*/
/* img{
    width: 100%;
    height: auto;
}

body {
    background-color: var(--Amarillo);
    font-family: var(--roboto);
}

header nav ul li a{
    text-decoration: none;
    color: #000;
    list-style-type: none;
}
header nav ul{
    list-style-type: none;
    padding: 0;
}

.compra{
    text-align: center;
}

header div i{
    background-color: var(--Azul);
    color: #ebebeb;
    width: 20px; 
    margin: 0 auto;
    
}

header div{
    text-align: center;
    
}

header img{
    width: 200px;
}
 */
/* FORMA DEL PROFESOR */

*{
    margin: 0;
    padding: 0;
    font-family: var(--roboto);
}

body{
    background-color: var(--Gris-claro);
}

a{
    color: #000;
    text-decoration: none;
}

li{
    list-style-type: none;
    
}
header nav ul.listaSuperior{
    margin-bottom: 15px;
}

header nav ul li a{
    font-size: var(--parrafos);
}

/*HEADER*/

header{
    background-color: var(--Amarillo);
    padding-top: 10px;
    padding: 10px;
}

header div.logo{
    width: 130px;
    margin-left: 25px;
}

header div.busqueda{
    margin-left: 25px;
    width: 170px;
    margin-bottom: 10px;
}

header p{
    font-size: var(--parrafos);
    text-align: center;
    margin-bottom: 15px;
}

header div.hamburguesa i{
    text-align: center;
    background-color: var(--Celeste);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    
}
header div.hamburguesa {
    text-align: center;

}

footer{
    padding: 50px 10px;
    background-color: #fff;
}

footer article{
    text-align: center;
    margin-bottom: 50px;
}

footer article i{
    color: var(--Celeste);
    font-size: 2em;
    margin-bottom: 10px;
}

footer article h4{
    
}

footer span{
    font-size: var(--parrafos);
}