@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');


:root {
    /* VARIABLES DE COLORES */
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Gris-oscuro: #666;
    --Gris-claro: #ebebeb;
    --Verde: #39b54a;
    /*VARIABLE FUENTES*/
    --roboto: 'Roboto', sans-serif;
    /*TAMAÑOS TIPOGRAFICOS*/
    --parrafos: 12px;
    --titulos: 24px;
    --precio: 18px;
    --descuento: 16px;
    --descripciones:16px;
}


*{
    margin: 0;
    padding: 0;
    font-family: var(--roboto);
    box-sizing: border-box;
}

body{
    background-color: var(--Gris-claro);
}

a{
    color: #000;
    text-decoration: none;
}

li{
    list-style-type: none;
    
}
header nav ul.listaSuperior{
    margin-bottom: 15px;
}

header nav ul li a{
    font-size: var(--parrafos);
}

/*HEADER*/

header{
    background-color: var(--Amarillo);
    padding-top: 10px;
    padding: 10px;
    width: 100%;
    
}

header div.logo{
    width: 130px;
    margin-left: 25px;
}

header div.busqueda{
    margin-left: 25px;
    width: 170px;
    margin-bottom: 10px;
    
}

header p{
    font-size: var(--parrafos);
    text-align: center;
    margin-bottom: 15px;
}

header div.hamburguesa i{
    text-align: center;
    background-color: var(--Celeste);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    
}
header div.hamburguesa {
    text-align: center;

}

header nav{
    display: none;
}


/* MAIN */

main h4{
    color: var(--Gris-oscuro);
    font-size: var(--titulos);
}

main.home__productos img.banner{
    width: 100%;
}

main.home__productos section article, 
main.home__productos section h4{
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    
}


main.home__productos section article img{
    width: 100%;
    height: auto;
}

main.home__productos section article div{
    border-top: 1px solid #ebebeb;
    padding: 15px;
    margin-top: -3px;
    
}

main.home__productos section article div,
main.home__productos section article p{
    background-color: #fff;
}

main.home__productos section article div i{
    border: 1px solid #39b54a;
    padding: 10px;
    border-radius: 50%;
    color: #39b54a;
}

.porcentaje{
    color: #39b54a;
    margin-bottom: 20px;
}

.negrita{
    color: #666;
    display: none;
}
/* END MAIN */

footer{
    padding: 50px 10px;
    background-color: #fff;
}

footer article{
    text-align: center;
    margin-bottom: 50px;
}

footer article i{
    color: var(--Celeste);
    font-size: 2em;
    margin-bottom: 10px;
}

footer span{
    font-size: var(--parrafos);
}

@media screen and (min-width:361px){
    .negrita{
        display: block;
    }
    main.home__productos section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    header nav{
        display: block;
    }
    header div.hamburguesa{
        display: none;
    }
}
@media (min-width:769px){
    .negrita{
        display: block;
    }
}


